body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    box-sizing: border-box;
  }
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1300px;
  width: 100%;
}

.container-children {
  max-width: 1300px;
  width: 100%;
}

/* css of Header.js */
.header {
  display: flex;
  justify-content: space-between;
}

.Include-Header {
  margin-top: 20px;
  font-size: 30px;
}

.left-side {
  display: flex;
  gap: 10px;
}

.right-side {
  display: flex;
  gap: 14px;
}
.Link-css {
  text-decoration: none;
  color: black;
}

/* css of file Button.js */
.search-title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.Search {
  border-radius: 10rem;
  max-width: 700px;
  height: 44px;
  width: 100%;
  padding: 0 20px;
  margin-right: 4px;
  outline: none;
  font-size: 14px;
  border: 1px solid #ccc;
}

.Button {
  border-radius: 20px;
  height: 44px;
  border-radius: 10rem;
  border: 1px solid #ccc;
  padding: 0 20px;
  text-wrap: nowrap;
}
.Button:hover {
  background-color: rgb(165, 168, 170);
}

/* css of Productlist.js  */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product {
  max-width: 200px;
  padding: 12px;
  flex: 1 1 calc(20% - 10px);
  list-style: none;
  width: 100%;
  margin: 12px;
  background-color: #9a9a9a33;
  border-radius: 12px;
}
.productCard {
  text-decoration: none;
}
.product:hover .thumbnail {
  transform: scale(1.2);
}

.thumbnail-wrap {
  width: 180px;
  height: 200px;
  border-radius: 8%;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.product-name {
  max-width: 220px;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
  color: #333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  /* Xác định hướng sắp xếp của các hộp con là theo chiều dọc. Bắt buộc đi kèm với -webkit-line-clamp
  nghĩa là 2 dòng theo chiều dọc*/
}
.product-price {
  font-size: 18px;
  color: red;
}
.discount {
  font-size: 14px;
  color: #7346f3;
  margin-left: 8px;
}
.left-button,
.right-button {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 10rem;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 2px solid #333;
}
.left-button:hover,
.right-button:hover {
  cursor: pointer;
  background-color: #33333399;
}
.icon-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-button-left {
  font-size: 20px;
  margin-right: 2px;
}
.icon-button-right {
  font-size: 20px;
  margin-left: 2px;
}

/* css of Footer.js */
.footer {
  margin-top: -52px;
  width: 100%;
  height: 40vh;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.footer a:hover {
  display: block;
  color: rgb(165, 168, 170);
  text-decoration: dotted;
}

/* Css of Product.js  */
.Product-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Product-title {
  max-width: 900px;
  display: flex;
  justify-content: center;
  background-color: #cdcdcd;
  border-radius: 20px;
  margin-top: 40px;
}
.product-info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4%;
  margin-right: 180px;
  width: 400px;
  height: 400px;
}
.product-iamge {
  max-width: 300px;
  max-height: 360px;
  border-radius: 20px;
}
.product-info-right {
  margin-top: 40px;
  margin-right: 100px;
}
.info-button {
  width: 340px;
  height: 40px;
  border-radius: 4px;
  background-color: #aca7a7;
}
.info-button:hover {
  background-color: #33333399;
  cursor: pointer;
}
.product-price2 {
  font-size: 30px;
  color: rgb(70, 146, 70);
}
.product-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 32px;
}
.product-iamge-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  max-width: 1200px;
  max-height: 1200px;
}
.product-iamge-detail {
  width: 900px;
  height: 400px;
  border-radius: 20px;
  margin-left: 100px;
}

.menu {
  display: flex;
  padding: 12px;
  margin-top: -12px;
  width: 92px;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.menu .menu-item {
  padding: 6px 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.menu .menu-item:hover {
  background-color: #f0f0f0;
}

.account-container {
  position: relative;
  /* thuộc tính này là cho biết vị trí của cha */
  display: inline-block;
}

.account-dropdown {
  position: absolute;
  /* thuộc tính này là cho biết vị trí của con nằm ngay sau vị trí của cha */
  top: 100%;
  left: 100%;
  transform: translateX(-28%);
  background-color: white;
  width: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px 0;
  z-index: 1000;
}

.sign-out-btn {
  width: 100%;
  padding: 8px 16px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  transition: background-color 0.2s;
}

.sign-out-btn:hover {
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
