.Category-title {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  max-height: 700px;
  height: 100%;
}

.Category-left {
  display: flex;
  flex-direction: column;
  background-color: rgb(165, 168, 170);
  width: 160px;
  height: 418px;
  border-radius: 12px;
  margin-right: 4px;
}

.Category-left-title {
  margin-left: 8px;
  border-bottom: 2px solid #fff;
}

.Category-left-product {
  margin-left: 4px;
}
.Category-left-product:hover {
  cursor: pointer;
  background-color: rgb(149, 146, 146);
  border-radius: 4px;
}

.Category-right {
  max-width: 86%;
  width: 1200px;
  background-color: rgb(165, 168, 170);
  border-radius: 12px;
}
.category-right-title {
  margin-left: 20px;
}

.Category-product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 4%;
}

.category-product-image {
  max-width: 280px;
  width: 100%;
  border-radius: 20px;
}
.category-product-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-product-name{
  font-size: 20px;
  font-weight: bold;
}
.category-product-price{
  font-size: 16px;
}

@media (max-width: 768px) {
  .Category-title {
    flex-direction: column;
    align-items: center;
  }

  .Category-left {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
