.Category-title {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  max-height: 700px;
  height: 100%;
}

.Category-left {
  display: flex;
  flex-direction: column;
  background-color: rgb(165, 168, 170);
  width: 160px;
  height: 418px;
  border-radius: 12px;
  margin-right: 4px;
}

.Category-left-title {
  margin-left: 8px;
  border-bottom: 2px solid #fff;
}

.Category-left-product {
  margin-left: 4px;
  margin: 8px;
}
.Category-left-product:hover {
  cursor: pointer;
  background-color: rgb(149, 146, 146);
  border-radius: 4px;
}

.Category-right {
  max-width: 86%;
  width: 1200px;
  background-color: rgb(165, 168, 170);
  border-radius: 12px;
}
.category-right-title {
  margin-left: 20px;
}

.Category-product {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 2%;
  min-height: 370px;
}

.category-product-image {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.category-product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.category-product-name {
  color: black;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: 2.6em;
  line-height: 1.3em;
}
.category-product-price {
  color: black;
  font-size: 16px;
}
.category-left-button,
.category-right-button {
  width: 30px;
  height: 30px;
  border-radius: 10rem;
  border-radius: 50%;
  font-size: 100%;
  align-self: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .Category-title {
    flex-direction: column;
    align-items: center;
  }

  .Category-left {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .Category-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
