.Category-title {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  max-height: 700px;
  height: 100%;
}

.Category-left {
  display: flex;
  flex-direction: column;
  background-color: rgb(165, 168, 170);
  width: 160px;
  height: 418px;
  border-radius: 12px;
  margin-right: 4px;
}

.Category-left-title {
  margin-left: 8px;
  border-bottom: 2px solid #fff;
}

.Category-left-product {
  margin-left: 4px;
  margin: 8px;
}
.Category-left-product:hover {
  cursor: pointer;
  background-color: rgb(149, 146, 146);
  border-radius: 4px;
}

.Category-right {
  max-width: 86%;
  width: 1200px;
  background-color: rgb(165, 168, 170);
  border-radius: 12px;
}
.category-right-title {
  margin-left: 20px;
}

.Category-product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 4%;
}

.category-product-image {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.category-product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-product-name {
  color: black;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  /* Xác định hướng sắp xếp của các hộp con là theo chiều dọc. Bắt buộc đi kèm với -webkit-line-clamp
  nghĩa là 2 dòng theo chiều dọc*/
}
.category-product-price {
  color: black;
  font-size: 16px;
}
.left-button-category {
  margin-top: 10%;
  width: 30px;
  height: 30px;
  border-radius: 10rem;
  text-align: center;
}
.right-button-category {
  margin-top: 10%;
  width: 30px;
  height: 30px;
  border-radius: 10rem;
  text-align: center;
}

@media (max-width: 768px) {
  .Category-title {
    flex-direction: column;
    align-items: center;
  }

  .Category-left {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
