.shopping-container {
  display: flex;
  justify-content: space-between;
}
.shopping-card {
  display: flex;
  background-color: silver;
  border-radius: 8px;
  max-width: 460px;
  width: 78%;
  justify-content: flex-end;
}
.card {
}
.shopping-product-container-parent {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.shopping-product-container {
  max-width: 1300px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(192, 192, 192);
  border-radius: 20px;
}
.shopping-product-left {
  margin-left: 20px;
  width: 90%;
}
.product-info {
  max-width: 1200px;
  width: 70%;
  display: flex;
  border-radius: 12px;
}
.product-img {
  max-width: 400px;
  width: 60%;
  border-radius: 8px;
}
.product-details {
  width: 90%;
  margin-top: 14px;
  margin-left: 18px;
}
.product-name-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product-name-delete {
  max-width: 40px;
  width: 20%;
  color: #151414;
  border: none;
  outline: none;
  background: none;
}
.product-name-delete:hover {
  color: #726f6f;
  font-weight: bold;
  cursor: pointer;
}
.shopping-product-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding: 8px;
  margin-right: 8px;
  border-left: 2px solid black;
}
.shopping-text-quanlity {
  text-align: center;
  width: 12%;
}
.total-product {
  display: flex;
  justify-content: space-between;
}
.total-discount {
  display: flex;
  justify-content: space-between;
}
.total-shipping {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.shopping-right-product-price {
  text-align: right;
}

.shopping-button {
  max-width: 280px;
  width: 80%;
  height: 40px;
  margin-left: 34px;
  margin-bottom: 20px;
}
.shopping-button:hover {
  background-color: #726f6f;
  font-weight: bold;
}

@media (max-width: 768px) {
  .shopping-product-container {
    flex-direction: column;
  }
  .product-info {
    flex-direction: column;
  }
  .shopping-card {
    display: none;
  }
}
